body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;

}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%;
    }

    .tables {
        margin-left: 20% !important;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .managing {
        width: 20%;
    }

    .login-form{
        margin-top: 50%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

/* Navigation Bar */
.navbar{
    padding: 30px 10px 20px 0px;
    background-color: #000 !important;
    transition: all ease 0.4s;
    z-index: 999;
}
.navbar-brand{
    font-size: 22px;
    color: white !important;
}
.navbar .navbar-nav li a{
    font-size: 16px;
    color: white;
}

/* Animation */
.animate{
    padding: 0px 10px 0px 0px;
    transition: all ease 0.4s;
}

/* Jumbotron */
.jumbotron{
    margin-top: 110px;
}